body {
	background-color:#313131ff;	
}

nav{
	min-height:6rem;
	width:100%;
	background-color: #313131ff;
	justify-content: : center
}
nav object{
	padding:1.2em;
	display:flex;
	margin:auto;
}
#services{
	width:100%;
	height:85vh;
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	text-align: center;	
	padding:2em;
}
#services .col{
	margin:1em 0;
}
#selected-service, #selected-service div[label]{
	display:none;
}
#myForm {
	margin: auto;
}
#queue{
	width:100%;
	background-color: #313131ff;
	text-align: center;
}
#queue h1{
	text-align: center;
	color:#f4fffe;
	padding:1em;
}
#queue img{
	width:100%;
}
#queue button{
	background-color:#32aa32ff;
	margin:1em;
}
#dl-list div {
	text-align: center;
}
#dl-list {
	color:white;
}
#dl-list .row div{
	align-self: center;
}

#services button {
	
	background-size:contain;
	width:8em;
	height:8em;
	border:none;
	border-radius:4.5em;
}
#services .disabled {
	opacity: 0.3;
	cursor:not-allowed;
}
#yt {
	background: url('images/ytmusic.png');
}
#sz {
	background: url('images/shazam.jpeg');
}
#mc {
	background: url('images/mixcloud.jpg');
}
#sp {
	background: url('images/spotify.png');
}
div[label] input {
	height:3em;
}
div[label] {
	min-height:20rem;
	background-color: #fdfdfdff;
	padding:3em 2em;
	height:100vh;
}
div[label='yt'] {
	border-top:0.5em solid red;
	
}
div[label='yt'] .input-group button:first-child {
	background: url('images/ytmusic.png');
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	height:3em;
	width:3em;
}
div[label='mc'] {
	border-top:0.5em solid #5000ffff;
}
.result {
	margin: 2em 0;
}
.result div {
	align-self: center;
}
.result img {
	width:100%;
}
.result strong {
	font-size:0.9rem;
}
.result .thumbnail {
	text-align:center;
	padding:0;
}
.result .info {
	text-align:center;
}
.result p {
	margin:0;
	font-size:0.8rem;
}
.add_queue {
	background-image: none;
	background-color: white;
	width:2em;
	border-radius:1em;
}
div[label='yt'] .add_queue {
	color:red;
	border:1px solid red
}
#selected-service .container{
	padding:0;
	height: 95%;
	overflow-y:auto;
}
.hidden{
	display: none !important;
}
#ondlfinish {
	position:fixed;
	z-index: 3;
	display:flex;
	background:rgba(0,0,0,0.9);
	width:100%;
	height:100%;
	justify-content: center;
	align-items: center;
}
#ondlfinish div[id]{
	text-align: center; 
	vertical-align: middle
}
#ondlfinish p {
	color:white;
	font-size:1.4rem;
	text-align: center;
}
#ondlfinish img {
	display:block;
	width:8em;
	margin:auto;
}
#ondlfinish .rotateme {
	animation: 1.5s infinite linear rotate;
	

}
#ondlfinish button {
	background-color:#32aa32ff;
	color:white;
	font-size:1rem;
	margin:2em 0;
}
@keyframes rotate {
	from {
		rotate:0deg
	}

	to {
		rotate:360deg;
	}
}