<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'app/wedl.css'%}">
		<title>Hello, world!</title>
	</head>
	<body>
		<div id="ondlfinish" class="hidden">
			{% if dl_list %}
			<div id="dl_finished">
				<p>Download Finished</p>
				<div >
					<img src="{% static 'app/images/finished.png'%}">
						{% if mp3srcs %}
							<div class="results">
								{% for src in mp3srcs %}
									<a href="{{src}}"></a>
								{% endfor %}
							</div>
						{% endif %}
					<button class="btn col-12" id="hidefinished">Download More</button>
				</div>
			</div>
			{% else %}
			<div id="dl_started">
				<p> Downloading <span class="queue_count"></span> items </p>
				<div>
					<img class="rotateme" src="{% static 'app/images/loading.png'%}">
				</div>
			</div>
			{% endif %}

		</div>
	<nav>
		<object type="image/svg+xml" data="{% static 'app/images/wedl.svg' %}">
			
		</object>
	</nav>
	<div id="services" class="">
		<p><strong>1) </strong>Choose a service. </p>
		<div class="container col-sm-12">
			<div class="row row-cols-2">
				<div class="col">
					<button id="yt" class="" ></button>
				</div>
				<div class="col">
					<button id="sz" class="" ></button>
				</div>
				<div class="col">
					<button id="sp" class="" ></button>
				</div>
				<div class="col">
					<button id="mc" class="" ></button>
				</div>
			</div>
		</div>
	</div>
	<div id="selected-service">
		<div label="yt">
			
				<form method="post" id="myForm">
			
			<div class="input-group mb-3">
					{% csrf_token %}
					<!-- <input type="text" id="searchBox" class="form-control" placeholder="Search Youtube" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
					{{ search.search_box }}
					<div class="input-group-append btn-contain">
						<button type="submit" class="input-group-text" id="basic-addon2"></button>
					</div>
			</div>
				</form>
			<div class="container">
				{% for song in song_data %}
					<div class="row result">
						<div class="col-3 thumbnail">
							<img src="{{ song.thumbnails.0 }}">
						</div>
						<div class="col-7 info">
							<strong>{{ song.title }}</strong>
							<p>uploaded by '{{ song.channel }}'</p>
							<p>{{ song.duration }}</p>
							<p>{{ song.views }}</p>
							<p hidden>{{ song.url_suffix }}</p>

						</div>
						<div class="col-2">
							<button class="add_queue" identifier="{{ song.id }}" >+</button>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div label="mc">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search Mixcloud" aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append btn-contain">
					<button class="input-group-text" id="basic-addon2"></button>
				</div>
			</div>
		</div>
		
	</div>
	<div id="queue">
		<h1 class="display-5"><span class="queue_count">0</span> in queue</h1>
		<div id="dl-list" class=" container">
			
		</div>
		<form id="dl_form" method="post">
			{% csrf_token %}
			{{dl_queue.queue}}
			<button type="submit" id="dl_btn" class=" btn col-12" id="download_queue">Download</button>
		</form>
	</div>
	<div>
		
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript">
		{% if song_data %}
		$("#selected-service").show();
		$("div[label='yt']").show();
		$([document.documentElement, document.body]).animate({
	        scrollTop: $("#selected-service").offset().top
	    }, 100);
		{% endif %}
		{% if dl_list %}
			$("#ondlfinish").show();
		{% endif %}
		$("#myForm #id_search_box").attr({
			'placeholder': 'Search Youtube',
			'aria-describedby': 'basic-addon2',
			'class':'form-control',

		});
		$("#dl_form input").hide();
		$("#dl_btn").hide();
		let currentqueue = {};
		$("#services button").each((i,btn) => {
			$(btn).on('click', (e) => {
				$("div[label]").hide();
				$("#selected-service").show();
				$("div[label='" + e.target.id + "']").show();
			});
		});
		//set localStorage's 'lastqueue' to active queue
		function setlastqueue(activequeue){
			localStorage.setItem('lastqueue',JSON.stringify(activequeue));
		}
		function getlastqueue() {
			return JSON.parse(localStorage.getItem('lastqueue'))
		}
		if (getlastqueue()) {
			currentqueue = getlastqueue();
			console.log('getlastqueue found: ' + currentqueue);
			alterqueue(getlastqueue());
		}

		//Convert the resulting div's metadata into dictionary values for 'queue' 
		function elemtoqueue(ele, identifier) {
			let title = $(ele).find("strong").html();
			let thumbnail = $(ele).find("img").attr('src');
			let duration = $(ele).find("p")[1];
			let channel = $(ele).find("p")[0];
			let videoid = $(ele).find("p")[3];
			

			currentqueue[identifier] = {
				'title': title, 
				'thumbnail': thumbnail,
				'duration':duration.innerHTML,
				'channel':channel.innerHTML,
				'url_suffix': "https://www.youtube.com"+ videoid.innerHTML
			};
			
		}
		// Onclick of "+/-" btn, repopulate queue section with what's in 'activequeue'
		function alterqueue(){
			let queue_vid_ids = Object.keys(currentqueue);
			let list_html = $("#dl-list");

			// Update the innerHTML of all '.queue_count' elements
			for(let i=0; i<$(".queue_count").length;i++) {
				$(".queue_count")[i].innerHTML = queue_vid_ids.length;
			}
			if (queue_vid_ids.length > 0) {
				$("#dl_btn").show();
			} else {
				$("#dl_btn").hide();
			}

			// Set the value of the hidden form inuput to 'queue' 
			$("#id_queue").val(JSON.stringify(currentqueue));
			setlastqueue(currentqueue);

			list_html.empty();

			// Create the HTML for every video in 'queue'
			queue_vid_ids.forEach((identifier)=>{
				let result = currentqueue[identifier];
				let row = document.createElement("div");

				let div_thmb = document.createElement("div");
				let div_chk = document.createElement("div");
				let div_time = document.createElement("div");
				let div_info = document.createElement("div");
				let div_url = document.createElement("div");

				let chkbox = document.createElement("input");
				let thmb = document.createElement("img");
				let title = document.createElement("strong");
				let channel = document.createElement("p");
				let time = document.createElement("p");
				let url = document.createElement("p");

				row.className = "row";
				div_chk.className = "col-1";
				div_thmb.className ="col-3";
				div_info.className = "col";
				div_url.className = "col hidden";
				div_time.className = "col-2";

				chkbox.type = "checkbox";
				chkbox.checked = 'True';
				chkbox.name = "removeFromQueue";
				chkbox.setAttribute('identifier',identifier);
				chkbox.addEventListener('click',(e) => {
					let vid_id = e.target.getAttribute('identifier');
					if(confirm("Remove  " + currentqueue[vid_id]['title']+ " from the queue?")) {
						delete currentqueue[identifier];
						alterqueue();
					}
				});

				thmb.src = result['thumbnail'];
				time.innerHTML = result['duration'];
				title.innerHTML = result['title'];
				channel.innerHTML = result['channel'];
				url.innerHTML = result['url_suffix']


				div_chk.appendChild(chkbox);
				div_thmb.appendChild(thmb);
				div_info.appendChild(title);
				div_info.appendChild(channel);
				div_time.appendChild(time);
				div_url.appendChild(url);

				row.appendChild(div_chk);
				row.appendChild(div_thmb);
				row.appendChild(div_info);
				row.appendChild(div_time);
				row.appendChild(div_url)

				list_html.append(row);
			});
		}
		$("#hidefinished").on('click', ()=>{
			window.location = window.location.href;
		})
		$("#download_queue").on('click', (e)=>{
			$("#ondlfinish").show();
			localStorage.removeItem('lastqueue');
		})

		$(".add_queue").each((i, btn) => {
			//Event for "+/-" buttons
			$(btn).on('click', (e) => {
				//If corresponding video id is already in the queue
				if(currentqueue.hasOwnProperty($(btn).attr('identifier'))) {
					delete currentqueue[$(btn).attr('identifier')];
					$(btn).html("+");
				} else {
					//adds elem to queue
					elemtoqueue($(btn).parent().parent(), $(btn).attr('identifier'));
					$(btn).html("-");
				}
				alterqueue(currentqueue);
			});
		});
		

	</script>
	</body>
</html>